html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

a,
input {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  border: 1px solid #dedede;
}

input[type="button"] {
  background: none;
  border: none;
  text-align: center;
}

.flex-cell {
  display: block;
  /* OLD */
  width: 100%;
  /* OLD */
}

.flex,
.flex-column {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex {
  -webkit-box-orient: horizontal;
  /* OLD */
  -moz-box-orient: horizontal;
  /* OLD */
  -ms-box-orient: horizontal;
  /* OLD */
  -webkit-flex-flow: row;
  flex-flow: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  /* OLD */
  -moz-box-orient: vertical;
  /* OLD */
  -ms-box-orient: vertical;
  /* OLD */
  -webkit-flex-flow: column;
  flex-flow: column;
}

.flex-cell {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/*公共media query查询 1rem初始设置为12px
dpr为2时对应750的效果图 dpr为3时对应1080的效果图
查询区间间隔暂时设置为30px 对应3倍图时 1rem大小变化1px
对于dpr为2的有额外百分之4.2增大的兼容*/

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 321px) and (max-width:350px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 71.62%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 68.75%;
    }
}
}

@media screen and (min-width: 351px) and (max-width:380px) {
  html,
  body {
    font-size: 75%;
  }
}

@media screen and (min-width: 381px) and (max-width:410px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 84.64%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 81.25%;
    }
}
}

@media screen and (min-width: 411px) and (max-width:440px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 91.15%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 87.5%;
    }
}
}

@media screen and (min-width: 441px) and (max-width:470px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 97.66%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 93.75%;
    }
}
}

@media screen and (min-width: 471px) and (max-width:500px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 104.17%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 100%;
    }
}
}

@media screen and (min-width: 501px) and (max-width:539px) {
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    html,
    body {
      font-size: 110.68%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    html,
    body {
      font-size: 106.25%;
    }
}
}

@media screen and (min-width: 540px) {
  html,
  body {
    font-size: 150%;
  }
}

.__range>label {
  position: relative;
  display: block;
  width: 99%;
  margin: 0 auto;
  padding: 1.6rem 0;
  z-index: 1;
  overflow: hidden;
}

.__range>label>input {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 3rem;
  display: block;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
}

.__range>label>input::-webkit-slider-runnable-track {
  height: 2rem;
}

.__range>label>input::-webkit-slider-thumb {
  padding: .9rem;
}

.__range>label>i {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.3rem;
  background: rgb(255, 159, 187);
  border-radius: 3rem;
  border: .18rem solid rgb(255,211,224);
  z-index: -1;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  top: .2rem;
  left: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.__range>label>i:before,
.__range>label>i:after {
  position: absolute;
  top: 50%;
  margin-top: -.1rem;
  display: inline-block;
  content: "";
  width: 10000%;
  height: .2rem;
}

.__range>label>i:before {
  right: 2.3rem;
  background-color: rgb(255, 159, 187);
}

.__range>label>i:after {
  left: 2.3rem;
  background-color: rgb(222,222,222);
}

header {
  position: relative;
  background: url("../img/bg.png") repeat-x;
  background-size: contain;
  text-align: center;
  padding-bottom: 5rem;
}

header>figure>img {
  width: 30%;
  /* filter: drop-shadow(0 -16px 16px rgb(200, 200, 0)); */
}

header .switch {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: inline-block;
  width: 3.7rem;
  height: 3.7rem;
  background: url("../img/switch.png") no-repeat;
  background-size: cover;
}

.fn-wrap>a {
  text-align: center;
  line-height: 2.6;
  padding-top: 3rem;
  color: #d8d8d8;
  font-size: 14px;
  border-right: 2px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.fn-wrap>a:last-child {
  border-right: none;
}

.fn-wrap>a.active {
  color: #f8bf75;
}

.fn-wrap>.fn-read {
  background: url("../img/dp_01.png") no-repeat center 5px;
  background-size: 3.5rem 3.5rem;
}

.fn-wrap>.fn-read.active {
  background-image: url("../img/dp_02.png");
}

.fn-wrap>.fn-rest {
  background: url("../img/dp_03.png") no-repeat center 5px;
  background-size: 3.5rem 3.5rem;
}

.fn-wrap>.fn-rest.active {
  background-image: url("../img/dp_04.png");
}

.fn-wrap>.fn-light {
  background: url("../img/dp_05.png") no-repeat center 5px;
  background-size: 3.5rem 3.5rem;
}

.fn-wrap>.fn-light.active {
  background-image: url("../img/dp_06.png");
}

h2 {
  line-height: 3.6rem;
  background-color: #eaedf5;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}

.light-range-wrap {
  padding: 20px 0 10px;
}

.light-range-wrap>i {
  display: inline-block;
  background: url("../img/ico1.png") no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.light-range-wrap>i.l-low {
  margin: 10px 10px 0 30px;
  width: 1.5rem;
  height: 1.5rem;
}

.light-range-wrap>i.l-high {
  margin: 10px 30px 0 10px;
  width: 2rem;
  height: 2rem;
}

/* 调整滑块样式 */

.light-range-wrap .__range>label>i {
  background-color: #fff;
  border-color: #eee;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.light-range-wrap .__range>label>i:before {
  background-color: rgb(247, 177, 71);
}

.color-range-wrap {
  padding: 20px 30px 10px;
}

.color-range-wrap .__range>label {
  padding: 1.4rem 0;
  background: url("../img/color-bar.png") no-repeat 0 center;
  background-size: 100% 50%;
}

.color-range-wrap .__range>label>i {
  background-color: #fff;
  border-color: #eee;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.color-range-wrap .__range>label>i:before,
.color-range-wrap .__range>label>i:after {
  opacity: 0;
}